* {
  box-sizing: border-box;
  font-family: "Press Start 2P", cursive;
}

body {
  background: rgb(224, 218, 0);
  background: linear-gradient(
    90deg,
    rgba(224, 218, 0, 0.8715861344537815) 0%,
    rgba(255, 21, 9, 0.6222864145658263) 57%,
    rgba(229, 239, 172, 1) 100%
  );
  text-align: center;
  /* margin-top:10rem; */
}

.title {
  /* margin: 0 auto; */
  height: 7rem;
  margin-top: 3rem;
  font-size: 1.5rem;
  color: #fff;
}

.instructions {
  font-size: 1.2rem;
  padding-bottom: 2rem;
}

.smaller-text {
  font-size: 0.9rem;
  padding-top: 1rem;
}
/* .container{
position: relative; display: inline-block
}
  
.inside-container{          
position: absolute;
display: flex;
width: 100%;
align-items: center;
padding: 20px;   
}

.player-health{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    border-top: 4px solid white;
    border-left: 4px solid white;
    border-bottom: 4px solid white;
}
#player-health{
    position: absolute;
    background: #818cf8;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
}

#timer{
    background-color: black;
    width: 100px;
    height: 50px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border: 4px solid white;
}

.enemy-health{
    position: relative;
    width: 100%;
    border-top: 4px solid white;
    border-bottom: 4px solid white;
    border-right: 4px solid white;
}

#enemyHealth{
    position: absolute;
    background: #818cf8;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#displayText{ 
    position: absolute;
    color: white;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
} */
@media only screen and (min-width: 200px) and (max-width: 500px) {
  .title {
    display: none;
  }
  .inside-container {
    display: none !important;
  }

  .instructions {
    display: none;
  }

  .smaller-text {
    display: none;
  }
  .container {
    display: none;
  }

  .player-health {
    display: none;
  }
  #player-health {
    display: none;
  }

  .timer {
    display: none !important;
  }

  .enemy-health {
    display: none;
  }

  #enemyHealth {
    display: none;
  }

  #displayText {
    display: none !important;
  }
  .rickrolled {
    display: block !important;
    font-size: 1rem;
    text-align: center;
    margin-top: 8rem;
  }

  canvas {
    display: none;
  }
  iframe {
    display: block !important;
    height: 18rem;
    /* width:15rem; */
    margin: auto;
    width: 95%;
    /* border: 3px solid green; */
    padding: 10px;
  }
}
