* {
  box-sizing: border-box;
  font-family: "Press Start 2P", cursive;
}

body {
  background: rgb(224, 218, 0);
  background: linear-gradient(
    90deg,
    rgba(224, 218, 0, 0.8715861344537815) 0%,
    rgba(255, 21, 9, 0.6222864145658263) 57%,
    rgba(229, 239, 172, 1) 100%
  );
  text-align: center;
  /* margin-top:10rem; */
}

.title {
  /* margin: 0 auto; */
  height: 7rem;
  margin-top: 3rem;
  font-size: 1.5rem;
  color: #fff;
}

.instructions {
  font-size: 1.2rem;
  padding-bottom: 2rem;
}

.smaller-text {
  font-size: 0.9rem;
  padding-top: 1rem;
}

@media only screen and (min-width: 200px) and (max-width: 500px) {
  .title {
    display: none;
  }
  .inside-container {
    display: none !important;
  }

  .instructions {
    display: none;
  }

  .smaller-text {
    display: none;
  }
  .container {
    display: none;
  }

  .player-health {
    display: none;
  }
  #player-health {
    display: none;
  }

  .timer {
    display: none !important;
  }

  .enemy-health {
    display: none;
  }

  #enemyHealth {
    display: none;
  }

  #displayText {
    display: none !important;
  }
  .rickrolled {
    display: block !important;
    font-size: 1rem;
    text-align: center;
    margin-top: 8rem;
  }

  canvas {
    display: none;
  }
  iframe {
    display: block !important;
    height: 18rem;
    margin: auto;
    width: 100vw;
    padding: 10px;
  }
}
